.row.flex1 {
  display: flex;
  padding-left: 7%;
}

.col-1-of-2:first-of-type {
  width: 40%;
}
.col-1-of-2:nth-of-type(2) {
  width: 50%;
}

.row.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: center;

  .col-1-of-4 {
    margin: 0 2rem;
  }

  @include respond(tab-port) {
    flex-direction: column;

    .col-1-of-4 {
      margin: 3rem 3rem;
    }
  }
}

.feature-box {
  width: 90%;
  height: 90%;
  align-items: flex-start;

  &:first-of-type {
    margin-left: 4.5%;
  }

  &:last-of-type {
    margin-right: 7.5%;
  }

  &__test {
    margin: 2rem;
  }
}

.row.flex3 {
  display: flex;
  justify-content: space-evenly;

  .col-1-of-3 {
    width: 33.33333333%;
    margin: 0 4rem;

    @include respond(tab-port) {
      width: 50%;
      margin-bottom: 2rem;
    }
  }

  @include respond(tab-port) {
    flex-direction: column;
    align-items: center;
  }
}

.row.flex4 {
  display: flex;
  flex-direction: column;
}

.row.flex5 {
  width: 85%;
  margin: 0 auto;
}

.row.flex6 {
  display: flex;
  justify-content: center;
  margin: 0 auto;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.flex61 {
  margin-right: 5rem;
  display: flex;

  @include respond(tab-port) {
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

.flex62 {
  display: flex;
  justify-content: flex-end;

  @include respond(tab-port) {
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    margin-right: 0;
  }
}
